@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-blue : #042352;
    --light-blue :  #063A88;
    --secondary-orange : #F45E0C;
    --dark-gray : #2D2D2D;
    --light-gray : #717171;
    --primary-sky : #0C68F4;
    --orange-hover : #BE4909;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: white;
}
.logo img{
    height: 57px;

}
.navbar-links{
    display: flex;
padding: 8px 0px;
align-items: center;
gap: 48px;
list-style-type: none;
align-items: center;
margin-bottom: 0;
font-size: 17px;
font-weight: 300;
}
.nav-item:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(12, 104, 244, 0.60);
    color: rgba(12, 104, 244, 0.70);
    text-shadow: 0px 0px 45px  rgba(12, 104, 244, 0.60);
    cursor: pointer;
}
.navbar{
    border-bottom: 1px solid var(--Gradient-linear-stroke-bottom, rgba(12, 104, 244, 0.30));
background:  #FFF;
height: 90px;
}

.nav-right{
    display: flex;
    gap: 22px;
}

#user, #cart{
    cursor: pointer;
}
.user-name{
    cursor: pointer;
}
.user-name>p{
    margin-bottom: 0;
    font-size: 18px;
    color: #0C68F4;
}
.user-name>span{
    font-size: 14px;
}
.product-list, .profile-list{
    list-style-type: none;
    padding-left: 0;
    padding: 10px;
}
.product-list>li, .profile-list>li>a{
    display: flex;
    gap: 15px;
    padding: 5px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}
.product-list>li:hover, .profile-list a:hover{
    color: var(--primary-sky);
    cursor: pointer;
}

.product-view{
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    
}
.product-drop-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 120px;
    height: 180px;
    justify-content: center;
    border-radius: 8px;
box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.15);
padding: 8px;
font-size: 14px;
margin: 10px;
cursor: pointer;
}

footer{
    background: #021736;
}
.footer-main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    padding: 50px 40px;

}
.footer-shade{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;

}
.footer-policy{
    padding: 20px 119.5px 20px 108.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 300;
    gap: 20px;
}
.footer-policy>p{
    margin-bottom: 0;
}
.policy-links{
    display: flex;
    gap: 20px;
}
.company{
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
}
.footer-top{
    color: white;
    font-weight: 500;

}
.company>a{
    font-weight: 300;
    color: #CBCBCB;
    text-decoration: none;
}
.email-input{
    background: #021736;
    
    border-radius: 8px;
    border: 1px solid var(--Neutral-Gray-F9F9F9, #F9F9F9);
    width: 278px;
height: 45px;
padding: 8px;
justify-content: space-between;
}
.email-input-field{
    color: white;
    background-color: unset;
    border: 0;
    
}
.email-input-field:focus{
    outline: 0;
}
.contact-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.modal-content{
    padding: 0px 50px;
}
.modal-header{
    padding: 30px 0px 0px 0px;
}
.nav-link{
    color: #717171;
}
.nav-item>.active{
    color: #0C68F4;
}
.tab-content{
    text-align: center;
}
.tab-content h3{
    font-weight: 500;
    color: black;
    margin-top: 20px;
}
.login-inputs{
    width: 100%;
    border-radius: 8px;
border: 1px solid var(--Neutral-Gray-B4B4B4, #B4B4B4);
padding: 10px 12px;
margin-top: 15px;
}
.login-inputs:focus{
    border: 1px solid #0C68F4;
    outline: none;
    box-shadow: 0px 0px 5px rgb(12, 104, 244, 0.3);
}

.tab-content a{
text-decoration: none;
}
.form-check-label{
    font-size: 14px;
    font-weight: 300;
    color: #717171;
}
.login-option{
    
    display: flex;
    justify-content: center;
align-items: center;
gap: 8px;
margin-top: 10px;
color: #2D2D2D;
}
.lines{
    width: 122px;
    margin-top: 0;
}
.other-login-option{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.other-login-option>button{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.other-login-option i{
    font-size: 20px;
}

.dropdown{
    font-size: 24px;
    display: none;
}
#dropdown-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn-primary:hover{
    background: var( --light-blue);
}
.gray-text{
    color: #717171;
}
.blue-text{
    color: #0C68F4;
}

.product-card:hover a{
    color: var(--light-blue);
}

.product-card a{
    color: black;
    text-decoration: none;
}
#cart-dropdown{
max-width: 430px;
width: 100%;
}
.cart-drop-cards{
    overflow-y: auto;
    max-height: 350px;  
    padding: 0px 20px 20px 20px;
}
.m-circle{
    font-size: 10px;
    color: #717171;
}
.pricedetail{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 6px; */
    align-items: center;
}
.deleteprice{
    display: flex;
    align-items: center;
    gap: 10px;
}
.div1{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    /* padding: 10px; */
    /* shadow 1 */
    box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
margin: 10px;
}
.div1>img{
    height: 100px;
}
.div1-1{
    padding: 5px 10px 0px 10px;
}
.counting{
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}
.grand-price{
    font-size: 16px;
    font-weight: 500;
}
.grand{
    font-size: 14px;
    font-weight: 300;
}
.grand-total{
    display: flex;
    flex-direction: column;
}
.search-body{

    gap: 60px;
}
.popular{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 40px;
  
}
.popular>p{
    border-radius: 20px;
    background-color: #f7f5f5;
    padding: 5px 10px;
}
.popular>p:hover{
        background-color: #edecec;
        cursor: pointer;

}
.most-search{
    margin-top: 30px;
}
.swiper {
    width: 100%;
    height: 100%;
    cursor:grab;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -30px;
  }

  .contact-info{
    display: flex;
    justify-content: space-evenly;
 
  }

  .info1{
    text-align: center;
    width: 150px;
  }
  .info1>img{
    height: 30px;
  }
  .contact-main{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    margin: 70px 0px;
  }
  .contact-inner{
    width: 40%;
  }
  .modal-header .nav-item{
    border: 0;
  }
  .modal-header .nav-link.active {
    border-bottom: 1px solid blue;
  }
  .modal-header .nav-link:hover{
    border-bottom: 1px solid #0C68F4;
  }

.delete-btn{
    cursor: pointer;
}

.cart-img-1{
   height: 150px;
}

.cart-drop-img{
    height: 70px;
    object-fit: cover;
}

.div1-1{
    width: 100%;
    padding: 15px;
}

.review-rating{
    width: 50px;
    border: 1px solid rgb(82, 82, 255);
    border-radius: 5px;
    padding: 0px 5px;
}

.review-rating:focus{
    outline: none;
}

.drop-product-img{
    height: 80px;
    object-fit: contain;
    /* width: auto; */
}

.drop-product-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
}

#getCoupons{
display: flex;
gap: 10px;
flex-wrap: wrap;
margin-top: 20px;
}
.couponSpan{
    background-color: #edecec;
    border-radius: 20px;
    padding:5px 10px;
}