@media screen and (max-width: 1024px) {
    .detail-text {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .tech-detail-text {
        gap: 0px;
    }
        .comment-section {
        flex-direction: column-reverse;
    }

        .enter-comment {
        max-width: 400px;
        width: 100%;
        margin: auto;
    }

        .all-comments {
        width: 100%;
    }
}
@media screen and (max-width : 550px) {


.main-img{
    width: 100%;
    height: auto;
}

}